header
    .navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='#') Tienda Troya
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                - var klass = (activeNav=='banners' ? 'active' : '')
                li(class=klass)
                    a(href=base_url + '/banners')=('Banners')
                
                - var klass = (activeNav=='pills' ? 'active' : '')
                li(class=klass)
                    a(href=base_url + '/pills')=('Pildoras')
                
                - var klass = (activeNav=='creadores' ? 'active' : '')
                li(class=klass)
                    a(href=base_url + '/creadores')=('Creadores')

                - var klass = (activeNav=='globales' ? 'active' : '')
                li(class=klass)
                    a(href=base_url + '/globales')=('Variables Globales')

            ul.nav.navbar-nav.navbar-right
                li 
                    a(href='/logout')=('LogOut')